*{
    margin: 0;
    top: 0;
    box-sizing: border-box;
}
html{
    margin: 0;
    height: 0;
}

.body{
    width: 100%;
    min-height: calc(100vh - 350px);
}

nav{
    width: 100%;
    position: fixed;
    height: 50px;
    background-color: white;
    border-bottom: 0.5px solid lightgray;
}
nav ul{
    display: flex;
    height: 50px;
}
nav ul li{
    list-style: none;
    margin-right: 3%;
    padding: 15px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size:medium;
}
nav ul li a:hover{
    color: red;
}
.leftNav{
    width: 100%;
    display: flex;
}
#menu{
    visibility: visible;
}
.rightNav{
    width: 20%;
    visibility: hidden;
}
.drop{
    visibility: hidden;
    margin-top: 50px;
    transition: ease-in-out 0.5s;
    height: 0px;
    position: absolute;
    background-color: white;
    width: 100%;
    overflow: hidden;
}
.drop ul{
    display: block;
}
.drop li{
    list-style: none;
    padding: 5px;
}
.drop li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.landing{
    margin-top: 50px;
    background-image: url("./images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    padding: 0px;
    
}
.landingText{
    color: white;
    font-size: 20px;
    padding: 60px;
    font-family:'Times New Roman', Times, serif;
    line-break:strict;
}
.landingText button{
    background-color: transparent;
    background-repeat: no-repeat;
    border:0.5px solid maroon;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 60%;
    border-radius: 20px;
    padding: 10px;
    float: right;
    margin-right: 20%;
    background-color: maroon;
}
.landingText button:hover{
    background-color: maroon;
    border: 1px solid maroon;
}
.landingText button a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.aboutUs{
    background-color: lightgray;
    padding: 40px;
}
.aboutUsTitle{
    color: Red;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.aboutUsBody{
    display: block;
}
.aboutText{
    width: 100%;
    font-size: medium;
    line-height: 1.7em;
}
.aboutImg{
    width: 100%;
    visibility: visible;
}
#abtImg{
    width: 100%;
    height: 200px;
}

.footer{
    background-color: black;
    color: gray;
    padding: 10px;
    text-align: center;
    /* width: 100%; */
    /* height: 350px; */
    margin-bottom: 0%;
    bottom: 0;
    font-size: small;
    
}
.address{
    display: block;
    width: 100%;
    color: white;
    text-align: left;
}
.desc{
    width: 0%;
    height: 0px;
    margin-right: 5%;
    padding: 0px;
    line-height: 0em;
    font-family: 'Times New Roman', Times, serif;
    visibility: hidden;
}
.addr{
    width: 97%;
    padding: 10px;
}
.social{
    width: 100%;
}
.addrTitle{
    border-bottom: 2px solid darkred;
    border-bottom-width:2px;
    padding: 5px;
    font-size: larger;
    font-weight: bolder;
}
hr{
        border: 0;
        height: 0.5px;
        background: lightgrey;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.top{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.card{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 7%;
    margin-right: 7%;
    border-bottom: 1%;
}
.cardHeader{
    padding: 5px;
    font-size: larger;
    color: darkblue;
}
.cardBody{
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

    @media only screen and (min-width: 758px){
        *{
            margin: 0;
            top: 0;
        }
        body{
            min-height: 100vh;
        }
        body{
            height: 100vh;
        }
        nav{
            width: 100%;
            position: fixed;
            height: 50px;
            background-color: white;
            border-bottom: 0.5px solid lightgray;
        }
        nav ul{
            display: flex;
            height: 50px;
        }
        nav ul li{
            list-style: none;
            margin-right: 3%;
            padding: 15px;
        }
        nav ul li a{
            text-decoration: none;
            color: black;
            text-transform: uppercase;
            font-size:medium;
        }
        nav ul li a:hover{
            color: red;
        }
        .leftNav{
            width: 100%;
            display: flex;
        }
        #menu{
            visibility: visible;
        }
        .rightNav{
            width: 20%;
            visibility: hidden;
        }
        .drop{
            visibility: hidden;
            margin-top: 50px;
            transition: ease-in-out 0.5s;
            height: 0px;
        }
        .drop li{
            list-style: none;
            padding: 5px;
            /* border-bottom: 0.2px solid lightgray; */
            width: 99%;
        }
        .drop li a{
            text-decoration: none;
            color: black;
            text-transform: uppercase;
        }
        .landing{
            margin-top: 0px;
            background-image: url("./images/background2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;
            width: 100%;
            padding: 0px;
            
        }
        .landingText{
            color: white;
            font-size: 20px;
            padding: 60px;
            font-family:'Times New Roman', Times, serif;
            line-break:strict;
        }
        .landingText button{
            background-color: transparent;
            background-repeat: no-repeat;
            border:0.5px solid maroon;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            width: 60%;
            border-radius: 20px;
            padding: 10px;
            float: right;
            margin-right: 20%;
            background-color: maroon;
        }
        .landingText button:hover{
            background-color: maroon;
            border: 1px solid maroon;
        }
        .landingText button a{
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
        }
        .aboutUs{
            background-color: lightgray;
            padding: 40px;
            height: 320px;
        }
        .aboutUsTitle{
            color: Red;
            font-size: 20px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
        .aboutUsBody{
            display: block;
        }
        .aboutText{
            width: 100%;
            font-size: large;
            line-height: 1.7em;
        }
        .aboutImg{
            width: 0%;
            visibility: hidden;
        }
        #abtImg{
            width: 20px;
            height: 20px;
        }
        .footer{
            background-color: black;
            color: gray;
            padding: 10px;
            text-align: center;
            font-size: medium;
            
        }
        .address{
            display: block;
            width: 100%;
            color: white;
            text-align: left;
        }
        .desc{
            width: 0%;
            height: 0px;
            margin-right: 5%;
            margin-right: 5%;
            padding: 10px;
            line-height: 1.5em;
            font-family: 'Times New Roman', Times, serif;
            visibility: hidden;
        }
        .addr{
            width: 97%;
            padding: 10px;
        }
        .social{
            width: 100%;
        }
        .addrTitle{
            border-bottom: 2px solid darkred;
            border-bottom-width:2px;
            padding: 5px;
            font-size: larger;
            font-weight: bolder;
        }
        hr{
                border: 0;
                height: 0.5px;
                background: lightgrey;
                background-image: linear-gradient(to right, #ccc, #333, #ccc);
            }
        
    }

    @media only screen and (min-width: 1000px){

*{
    margin: 0;
    top: 0;
}
nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: white;
}
nav ul{
    display: flex;
    width: 100%;
}
nav ul li{
    list-style: none;
    margin-right: 3%;
    padding: 15px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size:medium;
}
nav ul li a:hover{
    color: red;
}
.leftNav{
    width: 25%;
    margin-right: 15%;
}
#menu{
    visibility: hidden;
}
.rightNav{
    display: flex;
    width: 60%;
    visibility: visible;
}
.landing{
    margin-top: 0px;
    background-image: url("./images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    
}
.landingText{
    color: white;
    font-size: 50px;
    padding: 190px;
    font-family:'Times New Roman', Times, serif;
    line-break:strict;
}
.landingText button{
    background-color: transparent;
    background-repeat: no-repeat;
    border:0.5px solid gray;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 20%;
    border-radius: 25px;
    padding: 18px;
    float: right;
    margin-right: 20%;
}
.landingText button:hover{
    background-color: maroon;
    border: 1px solid maroon;
}
.landingText button a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.aboutUs{
    background-color: lightgray;
    padding: 40px;
    height: 350px;
}
.aboutUsTitle{
    color: Red;
    font-size: 28px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.aboutUsBody{
    display: flex;
}
.aboutText{
    width: 60%;
    font-size: larger;
    line-height: 1.7em;
}
.aboutImg{
    width: 30%;
    visibility: visible;
}
#abtImg{
    width: 456px;
    height: 240px;
}
.footer{
    background-color: black;
    color: gray;
    padding: 10px;
    text-align: center;
    bottom: 0 !important;
    font-size: medium;
}
.address{
    display: flex;
    width: 100%;
    color: white;
    text-align: left;
}
.desc{
    width: 25%;
    margin-right: 5%;
    margin-right: 5%;
    padding: 10px;
    line-height: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    visibility: visible;
}
.addr{
    width: 25%;
    margin-right: 10%;
}
.social{
    width: 25%;
}
.addrTitle{
    border-bottom: 2px solid darkred;
    border-bottom-width:2px;
    padding: 5px;
    font-size: larger;
    font-weight: bolder;
}
hr{
        border: 0;
        height: 0.5px;
        background: lightgrey;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }

    }